@use "../utils/vars" as v;

.w-vb {
    width: 100%;
}

.center-area {
    text-align: center;

    div {
        margin: 0 auto;
    }
}

.content-recipe {
    width: 90%; /* Set the width of the container */
    height: 300px; /* Set the height of the container */

    img {
        max-width: 100%; /* Set the maximum width of the image to 100% */
        max-height: 100%; /* Set the maximum height of the image to 100% */
        object-fit: contain; /* Control how the image is resized within the container */
    }
}

@media only screen and (min-width: 520px) {
    .w-vb {
        width: 50%;
    }
}
