@use '../utils/vars' as v;

.box-title{
    background-color: v.$clr-gray;
    color: v.$clr-white;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
}

.box-orange{
    background-color: v.$clr-orange;
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
}

.box-login{
    padding: 1rem;
    text-align: center;
    align-items: center;
    background-color: v.$clr-orange-50;
    border-radius: 2rem;
}

.box-gray{
    background-color: v.$clr-gray;
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 1em 1em 1em 1em;
}
