@use '../utils/vars' as v;

.box-title{
    background-color: v.$clr-gray;
    color: v.$clr-white;
    margin: 0;
    padding: 1rem 2rem 1rem 2rem;
}

.box-orange{
    background-color: v.$clr-orange;
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
}

.box-style{
    padding: 1rem;
    background-color: v.$clr-orange-50;
    border-radius: 2rem;
}

.box-gray{
    background-color: v.$clr-gray;
    margin: 0;
    padding: 4rem 2rem 4rem 2rem;
    border-radius: 1em 1em 1em 1em;
}

.box-img-login {
    flex: 0 0 calc(50%);
    height: 180px;
    width: 180px;
    img {
        width: 100%;
        height: 100%;
    }
}
