@use '../utils/vars' as v;

h5{
    color: v.$clr-brown-dark;
}

html {
    text-size-adjust: 100%;
}

body{
    background-image: url(/dist/imgs/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
