@use '../utils/vars' as v;

*{
    margin: 0;
    padding: 0;
    font-family: v.$font-primary;
    font-weight: v.$font-regular;
}

html {
    text-size-adjust: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
    width: 100%;
    background-image: v.$bg-img no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main{
    flex: 1 0 auto;
}
