@use "../utils/vars" as v;

.footer-icon {
    border: solid 4px v.$clr-black;
    border-radius: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        i {
            color: v.$clr-white;
        }
    }
    &:hover {
        border-color: v.$clr-white;
        background-color: v.$clr-black;
        transition: 0.5;
        a {
            transition: 0.5;
            background-color: transparent;
            i {
                transition: 0.5;
                color: v.$clr-orange;
                background-color: transparent;
            }
        }
    }
}

.login-title {
    font-family: v.$font-primary;
}



.card {
    max-width: 300px;
    margin: auto auto;

    .img{
        width: 266px; 
        height: 266px; 
        object-fit: contain;
    }

    .card-title{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: v.$clr-white !important;
        font-size: medium;
    }
}

.card-show-area {
    width: 19%;
    margin: 0.5rem;
    overflow: hidden;
}

.content {
    margin: 0;
    max-width: 1200px;
    width: 100%;
    display: flex;
}

.w-90 {
    width: 90%;
}
.w-95 {
    width: 95%;
}

@media only screen and (max-width: 520px) {
    .content {
        display: block;
    }
}
