@use "../utils/vars" as v;

.login-title {
    font-family: v.$font-primary;
}

.content {
    margin: 0;
    max-width: 1200px;
    width: 95%;
    display: flex;
}

.d-form{
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .content {
        display: block;
    }
}

