<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-recipe</title>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/48ce04dd4f.js" crossorigin="anonymous"></script>
    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

    <!-- Fuentes Alegreya Sans para titulos, subtitulos y botones, Roboto Regular para textos largos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/dist/css/main.css">
</head>

<body>
    <section id="app">
        <header>
            <nav>
                <nav class="navbar navbar-expand-lg pe-4 ps-2">
                    <div class="container-fluid">
                        <a href="/dist/index.html"><img src="/dist/imgs/logo.svg" class="logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="ul-nav navbar-nav m-1">
                                <li class="nav-item m-3">
                                    <a class="btn-style" aria-current="page" href="/dist/index.html">Inicio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <a class="btn-style" href="/dist/index.html">Volver</a>
            </nav>
        </header>

        <section>
            <div class="d-flex center-area w-100 mb-4 mt-4">
                <div class="p-4 w-95 box-gray rounded-4">
                    <div class="content">
                        <div class="m-1 rounded-4 content bg-black bg-opacity-50 box-centered w-vb"
                            style="height: 400px;">
                            <add-image></add-image>
                        </div>
                        <div class="m-1 rounded-4 p-3 d-block bg-black bg-opacity-50 box-centered w-vb">

                            <label for="recipename" class="form-label text-white fs-4">Nombre de la receta</label>
                            <input v-model="recipename" class="w-90 text-center btn-style" type="text" id="recipename" required>

                            <div class="d-flex">
                                <div class="p-1 pt-3 w-100">
                                    <div class="col-md">
                                        <h4 for="categoria" class="form-label text-white"> Categoría</h4>
                                        <select v-model="selectedCategory" class="text-center fw-bold w-75 btn-style">
                                            <option v-for="category in this.categories" :value="category.name">{{
                                                category.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-1 pt-3 w-100">
                                    <div class="col-md ">
                                        <h4 for="dificultad" class="form-label text-white"> Dificultad</h4>
                                        <select v-model="selectedCategory" class="text-center fw-bold w-75 btn-style">
                                            <option v-for="category in this.categories" :value="category.name">{{
                                                category.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <div class="p-1 pt-3 w-100">
                                    <h4 for="tiempo" class="form-label text-white">Tiempo:</h4>
                                    <input class="btn-style w-75 text-center fw-bold fs-5" type="text">
                                </div>
                                <div class="p-1 pt-3 w-100">
                                    <h4 for="tiempoTotal" class="form-label text-white">Tiempo total:</h4>
                                    <input class="btn-style w-75 text-center fw-bold fs-5" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="m-1 p-3 rounded-4 content bg-black bg-opacity-50 box-centered w-vb">
                            <div class="col-md w-90">
                                <h4 for="ingredientes" class="form-label text-white">Ingredientes:</h4>
                                <textarea class="form-control" placeholder="Ingrese la lista de los ingredientes de la receta" id="" style="height: 300px"></textarea>
                            </div>
                        </div>
                        <div class="m-1 p-3 rounded-4 content bg-black bg-opacity-50 box-centered w-vb">
                            <div class="col-md w-90">
                                <h4 for="descripcion" class="form-label text-white">Descripción:</h4>
                                <textarea class="form-control" placeholder="Ingrese la descripción de la receta" id="" style="height: 300px"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 text-center">
                        <button type="button" @click="onClickSAveRecipe" class="btn-style w-25">Guardar</button>
                    </div>
                </div>
            </div>
        </section>
        <footer-page></footer-page>
    </section>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/48ce04dd4f.js" crossorigin="anonymous"></script>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Axios API -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Main.js -->
    <script src="/dist/js/main.js"></script>

    <!-- Components -->
    <script src="/dist/js/components/Nav.js"></script>
    <script src="/dist/js/components/footer.js"></script>
    <script src="/dist/js/components/AddImageRecipe.js"></script>
    <script src="/dist/js/components/OptionDropDown.js"></script>

    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>

</html>