<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Fuentes Alegreya Sans para titulos, subtitulos y botones, Roboto Regular para textos largos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/dist/css/main.css">
</head>

<body>
    <section id="app">
        <header>
            <nav>
                <nav-area></nav-area>
            </nav>
        </header>

        <section>
            <div class="box-centered mt-5 mb-5">
                <div class="box-style content justify-content-evenly align-items-center">
                    <div class="box-img-login">
                        <img src="/dist/imgs/logo.svg" alt="logo">
                        <div>
                            <h2 class="login-title mt-2">
                                Tus recetas en un mismo sitio
                            </h2>
                        </div>
                    </div>
                        <form @submit.prevent="onClickLogIn">
                            <div class="mb-3">
                                <label for="user" class="form-label fs-4">Email</label>
                                <input v-model="user" class="form-control" type="email" id="user" required>
                            </div>
                            <div class="mb-3">
                                <label for="userpassword" class="form-label fw-bold fs-4">Contraseña</label>
                                <input v-model="userpassword" class="form-control" type="password" id="userpassword" required>
                            </div>
                            <div class="container pb-3">
                                <div class="row">
                                    <div class="col">
                                        <h5><a class="text-dark" href="sing_up.html">Registrarse</a></h5>
                                    </div>
                                    <div class="col">
                                        <h5><a class="text-dark" href="forgot_pass.html">¿Olvidó su contraseña?</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center w-100">
                                <button class="btn-style" @click="redirigirLogIn" type="submit">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer-page></footer-page>
    </section>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/48ce04dd4f.js" crossorigin="anonymous"></script>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Main.js -->
    <script src="/dist/js/main.js"></script>

    <!-- Components -->
    <script src="/dist/js/components/Nav.js"></script>
    <script src="/dist/js/components/Footer.js"></script>
    <script src="/dist/js/components/RecipeCard.js"></script>
    <script src="/dist/js/components/AccessButton.js"></script>
    <script src="/dist/js/components/RecipeDetails.js"></script>
    <script src="/dist/js/components/ProfileBuntton.js"></script>

    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>

</html>