<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!--Archivos Css-->
    <link rel="stylesheet" href="/dist/css/main.css">
    <link rel="stylesheet" href="/dist/css/swiper-bundle.css">

    <!-- Fuentes Alegreya Sans para titulos, subtitulos y botones, Roboto Regular para textos largos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
</head>

<body>
    <section id="app">
        <header>
            <!-- Barra de navegacion -->
            <nav>
                <nav-area></nav-area>
                <!-- Boton de perfil -->
                <profile-button
                    v-on:logout="onClickLogOut">
                </profile-button>
                <!-- Boton de perfil -->
            </nav>
            <!-- Fin de Barra de navegacion -->

            <!-- sección imagen/texto  //Modificar esta area -->
            <section class="w-75 mt-5 p-3 bg-black bg-opacity-50 rounded-4 container" id="about">
                <div class="col bg-black bg-opacity-50 rounded-3">
                    <div class="about-text">
                        <div class="container p-3 text-light mt-4">
                            <div class="text-center">
                                <h2 class="text-light">Datos del Usuario</h2>
                                <hr />
                            </div>
                            <div class="d-flex text-light justify-content-between">
                                <div>
                                    <h3>Nombre:</h3>
                                    <p>{{ username }}</p>
                                    <h3>Correo:</h3>
                                    <p>{{ useremail }}</p>
                                </div>
                                <div>
                                    <h3>N° de recetas almacenadas: </h3>
                                    <p>{{ user_recipe_list.length }}</p>
                                    <h3>N° de recetas likeadas: </h3>
                                    <p>{{ user_liked_list.length }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            <!-- sección imagen/texto   -->
        </header>

        <section>
            <!-- Modal -->
            <div>
                <recipe-details 
                :id="recipe.id"
                :name="recipe.name" 
                :level="recipe.level"
                :image="recipe.image" 
                :category="recipe.category"
                :portions="recipe.portions"
                :totaltime="recipe.totaltime" 
                :related="recipe.recipeRelated" 
                :ingredients="recipe.ingredients" 
                :cookingtime="recipe.cookingtime" 
                :instructions="recipe.instructions"
                :preparationtime="recipe.preparationtime"> 
                </recipe-details>
            </div>
            <!-- Fin modal -->

            <!----/ Recetas del usuario /---->
            <div class="w-100 d-flex justify-content-center mb-4">
                <div class="w-95 bg-black rounded-4 bg-opacity-75 p-3">
                    <div class="text-center p-2 mb-3">
                        <div class="d-inline-block border-5 border-bottom border-top mb-2">
                            <h2 class="text-white m-0 p-1">Todas <span class="text-danger fw-bold">tus recetas</span>
                                almacenadas
                            </h2>
                        </div>
                    </div>

                    <div class="p-2 bg-black rounded-4 bg-opacity-50">
                        <div class="container">
                            <div class="d-flex align-content-center justify-content-center">
                                <div class="d-flex justify-content-center p-2">
                                    <div class="w-100 row">
                                        <!-- Card -->
                                        <div v-for="item in user_recipe_list" class="p-1 col-md-3 mb-2">
                                            <recipe-card 
                                                :id="item.id"
                                                :name="item.name"
                                                :time="item.time" 
                                                :image="item.image" 
                                                :level="item.level"
                                                :likes="item.likes" 
                                                :saved="item.saved"
                                                :liked="item.liked"
                                                :category="item.category" 
                                                :description="item.description" 
                                                v-on:saverecipe="onClickSaveRecipe"
                                                v-on:undorecipe="onClickRemoveRecipe"
                                                v-on:recipedetails="onClickRecipeDetails"
                                                v-on:recipeactionlike="onclickActionLike"
                                                v-on:recipeactiondislike="onclickActionDisLike">
                                            </recipe-card>
                                        </div>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----/ Recetas del usuario /---->

            <!----/ Recetas likeadas /---->
            <div class="w-100 d-flex justify-content-center mb-4">
                <div class="w-95 bg-black rounded-4 bg-opacity-75 p-3">
                    <div class="text-center p-2 mb-3">
                        <div class="d-inline-block border-5 border-bottom border-top mb-2">
                            <h2 class="text-white m-0 p-1">Recetas <span class="text-danger fw-bold">que te</span>
                                gustan
                            </h2>
                        </div>
                    </div>

                    <div class="p-2 bg-black rounded-4 bg-opacity-50">
                        <div class="container">
                            <div class="d-flex align-content-center justify-content-center">
                                <div class="d-flex justify-content-center p-2">
                                    <div class="w-100 row">
                                        <!-- Card -->
                                        <div v-for="item in user_liked_list" class="p-1 col-md-3 mb-2">
                                            <liked-card 
                                                :id="item.id"
                                                :name="item.name"
                                                :image="item.image" 
                                                :level="item.level"
                                                :likes="item.likes"
                                                :liked="item.liked"
                                                :category="item.category" 
                                                v-on:recipedetails="onClickRecipeDetails"
                                                v-on:recipeactionlike="onclickActionLike"
                                                v-on:recipeactiondislike="onclickActionDisLike">
                                            </liked-card>
                                        </div>
                                        <!-- Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----/ Recetas likeadas /---->

        </section>
        <footer-page></footer-page>
    </section>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
    </script>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/48ce04dd4f.js" crossorigin="anonymous"></script>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Axios API -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Main.js -->
    <script src="/dist/js/main.js"></script>

    <!-- Components -->
    <script src="/dist/js/components/Nav.js"></script>
    <script src="/dist/js/components/Footer.js"></script>
    <script src="/dist/js/components/LikedCard.js"></script>
    <script src="/dist/js/components/RecipeCard.js"></script>
    <script src="/dist/js/components/RecipeDetails.js"></script>
    <script src="/dist/js/components/ProfileBuntton.js"></script>
    <script src="/dist/js/components/RecipeCategoryButton.js"></script>

    <script>
        const mountedApp = app.mount("#app");
    </script>

    <!-- swiper -->
    <script src="/dist/js/swipper/swiper-bundle.js"></script>
    <script src="/dist/js/swipper/script.js"></script>
</body>

</html>