<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- Fuentes Alegreya Sans para titulos, subtitulos y botones, Roboto Regular para textos largos-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/dist/css/main.css">
</head>

<body>
    <section id="app">
        <header>
            <!-- Barra de navegacion -->
            <nav>
                <nav-area></nav-area>
                <!-- Boton de perfil -->
                <profile-button></profile-button>
                <!-- Boton de perfil -->
            </nav>
            <!-- Fin de Barra de navegacion -->

            <!-- sección imagen/texto  //Modificar esta area --> 
            <section class="w-75 mt-5 p-5 bg-black bg-opacity-50 rounded-4 container" id="about">
                <div class="row justify-content-around ">
                    <div class="col bg-black bg-opacity-50 rounded-3 m-3">
                        <div class="m-5 text-center p-2 bg-light rounded-3">
                            <div class="bg-black bg-opacity-50 rounded-4 p-5 text-center">
                                <label for="exampleFormControlFile1">Subir imagen</label>
                            </div>
                            <div class="p-3">
                                <input type="file" class="form-control p-0" id="exampleFormControlFile1">
                            </div>
                            <div>
                                <input class="btn-br w-50" type="submit" value="Guardar" id="guardar">
                            </div>
                        </div>
                    </div>

                    <div class="col bg-black bg-opacity-50 rounded-3">
                        <div class="container">
                            <div class="about-text">
                                <div class="container text-light mt-4">
                                    <div class="text-center">
                                        <h2 class="text-light">Datos del Usuario</h2>
                                        <hr />
                                    </div>
                                    <div class="text-light">
                                        <h3>Nombre:</h3>
                                        <p>espacio donde se loggea el nombre de la base</p>
                                        <h3>Correo:</h3>
                                        <p>espacio donde se loggea el correo de la base</p>
                                        <h3>Cantidad de recetas: </h3>
                                        <p>un monton</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- sección imagen/texto   -->
        </header>

        <!----\ Recetas coleccionadas \---->
        <section>
            <!--Filtros-->
            <section>
                <div class="box-centered">
                    <div class="d-inline-block box-style content mt-4 w-75">
                        <!-- Comienso de los filtros -->
                        <filters></filters>
                        <!-- Fin de los filtros -->
                    </div>
                </div>
            </section>
            <!--Fin de filtros-->

            <section>
                <div class="d-flex align-content-center justify-content-center mb-4 mt-1">
                    <div class="bg-black rounded-4 bg-opacity-75 w-75 p-3">
                        <div class="text-center p-2">
                            <div class="d-inline-block border-5 border-bottom border-top mb-2">
                                <h2 class="text-white m-0 p-1">Tus <span class="text-danger fw-bold">recetas</span>
                                    coleccionadas</h2>
                            </div>
                        </div>
                        <div
                            class="d-flex content p-2 bg-black rounded-4 bg-opacity-50 align-content-center justify-content-center">
                            <div class="container">
                                <div class="d-flex align-content-center justify-content-center">
                                    <div class="d-flex p-2">
                                        <!-- Inicio de cards -->
                                        <div v-for="i in 4">
                                            <recipe-card v-on:recipedetails="onClickRecipeDetails"></recipe-card>
                                        </div>
                                        <!-- Fin de cards -->
                                    </div>

                                    <!-- Modal -->
                                    <recipe-details></recipe-details>
                                    <!-- Fin modal -->
                                </div>
                            </div>
                        </div>
                        <div class="m-2 d-flex justify-content-end">
                            <a class="btn-style" type="submit" href="/dev/scss/pages/all_recipes.html">Ver todas las
                                recetas</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!----\ Recetas coleccionadas \---->

        <!----/ Recetas del usuario /---->
        <section>
            <section>
                <!--Filtros-->
                <section>
                    <div class="d-flex align-content-center justify-content-center">
                        <div class="d-inline-block box-style content mt-4 w-75">
                            <!-- Comienso de los filtros -->
                            <filters></filters>
                            <!-- Fin de los filtros -->
                        </div>
                    </div>
                </section>
                <!--Fin de filtros-->

                <section>
                    <div class="d-flex align-content-center justify-content-center mb-4 mt-1">
                        <div class="bg-black rounded-4 bg-opacity-75 w-75 p-3">
                            <div class="text-center p-2">
                                <div class="d-inline-block border-5 border-bottom border-top mb-2">
                                    <h2 class="text-white m-0 p-1">Todas <span class="text-danger fw-bold">tus</span>
                                        recetas</h2>
                                </div>
                            </div>
                            <div
                                class="d-flex content p-2 bg-black rounded-4 bg-opacity-50 align-content-center justify-content-center">
                                <div class="container">
                                    <div class="d-flex align-content-center justify-content-center">
                                        <div class="d-flex p-2">
                                            <!-- Inicio de cards -->
                                            <div v-for="i in 4">
                                                <recipe-card v-on:recipedetails="onClickRecipeDetails"></recipe-card>
                                            </div>
                                            <!-- Fin de cards -->
                                        </div>

                                        <!-- Modal -->
                                        <recipe-details></recipe-details>
                                        <!-- Fin modal -->
                                    </div>
                                </div>
                            </div>
                            <div class="m-2 d-flex justify-content-end">
                                <a class="btn-style" type="submit" href="/dev/scss/pages/all_recipes.html">Ver todas las
                                    recetas</a>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <!----/ Recetas del usuario /---->

        <footer-page></footer-page>
    </section>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>

    <!--FontAwesome-->
    <script src="https://kit.fontawesome.com/48ce04dd4f.js" crossorigin="anonymous"></script>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Main.js -->
    <script src="/dist/js/main.js"></script>

    <!-- Components -->
    <script src="/dist/js/components/Nav.js"></script>
    <script src="/dist/js/components/Footer.js"></script>
    <script src="/dist/js/components/filters.js"></script>
    <script src="/dist/js/components/RecipeCard.js"></script>
    <script src="/dist/js/components/AccessButton.js"></script>
    <script src="/dist/js/components/RecipeDetails.js"></script>
    <script src="/dist/js/components/ProfileBuntton.js"></script>

    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>

</html>